/* Poppins and DM Mono (SIL Open Font License), bundled so the panel needs no network for fonts. Latin subset. */
@font-face{font-family:'DM Mono';font-style:normal;font-weight:400;font-display:swap;src:url(./DMMono-400.woff2) format('woff2')}
@font-face{font-family:'DM Mono';font-style:normal;font-weight:500;font-display:swap;src:url(./DMMono-500.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(./Poppins-400.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(./Poppins-500.woff2) format('woff2')}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(./Poppins-600.woff2) format('woff2')}
